{% extends 'base.html' %}

{% block data %}

<form class="form-horizontal" method="post" action="{{url_for('process_add_spider')}}">
    <fieldset>

        <!-- Form Name -->
        <legend>Create VK Spider</legend>

        <div class="form-group">
        <!-- Token field -->
            <label class="col-md-2 control-label" for="access_token">access_token</label>  
            <div class="col-md-6">
                <input type="text" class="form-control input-md" readonly="" id="access_token" value="{{token}}">
            </div>
        </div>

        <!-- VK group url -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="vk_group_url">vk group url</label>  
            <div class="col-md-6">
                <input id="vk_group_url" name="vk_group_url" placeholder="" class="form-control input-md" required="" type="text"/>
                <span class="help-block" id="owner_id_value"></span>
                <span class="input-group-btn">
                    <a href="#void" id="get_owner_id_button" class="btn btn-default" onClick="get_owner_id()">Check Access</a>
                </span>
            </div>
        </div>

        <!-- Spider name -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="spider_name">spider name</label>  
            <div class="col-md-6">
                <input id="spider_name" name="spider_name" placeholder="" class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- VK Boards -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="boards_group">board urls (optional)</label>
            <div class="col-md-6 input_fields_wrap" id="boards_group">
                <a href="#void" id="add_0" class="add_field_button">Add board url</a>
                <div><input class="form-control input-md" type="text" name="board_url[]"></div>
            </div>
        </div>



        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">create</button>
            </div>
        </div>

    </fieldset>
</form>

{% endblock %}
{% block extra_scipts %}
<script src="/static/addspider.js"></script>
{% endblock %}
