{% extends 'base.html' %}

{% block data %}
  {% if vk_user_id %}
    <h4>Your access token is: {{vk_access_token}}</h4>
    <h4>Your user_id is: {{vk_user_id}}</h4>
    <h4>Token expires in: {{vk_expires_in}}</h4>
    <h3><a href={{url_for('launch_crawl')}}>Launch crawl</a></h3>
    <h3><a href={{url_for('query_results')}}>Search in DB</a></h3>
    <h3><a href={{url_for('cleanup')}}>Cleanup old records</a></h3>
  {% else %}
    <h3><a href={{url_for('oauth_vk')}}>Enter with VK</a></h3>
  {% endif %}
{% endblock %}

