{% extends 'base.html' %}

{% block data %}
<form class="form-horizontal" method="get" action={{url_for('query_results')}}>
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput"></label>  
            <div class="col-md-4">
                <input id="textinput" name="q" placeholder="jazz" class="form-control input-xxlarge" type="text">
            </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="radios">Source</label>
            <div class="col-md-4"> 
                <select id="source" name="source" size="{{spiders | length}}" style="height: 100%" class="form-control" multiple="multiple">
                {% for spider_name in spiders %}
                    <option value="{{spider_name}}">{{spider_name}}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="search_button"></label>
            <div class="col-md-4">
                <button id="search_button" name="search_button" class="btn btn-primary">Search</button>
            </div>
        </div>

    </fieldset>
</form>

  {% for item in items %}
  <a href={{item["link"]}}><h1>{{item["title"]}}</h1></a>
  <p>{{item["text"]}}</p>
  <p>Date: {{item["date"]}}</p>
  <p>Source: {{item["source"]}}</p>
  <p>Author: <a href='{{item["author"]}}'>{{item["author"]}}</a></p>
  {% endfor %}
{% endblock %}

{% block title %}
Showing {{items|length}} results for {{query}}
{% endblock %}
